body {
    font-family: Arial, sans-serif;
    background-color: #040C1C;
    color: #69A8E8;
    margin: 0;
    padding: 0;
}


.navbar .logo h1 {
    color: #69A8E8;
    margin-left: 20px;
}

.nav {
    list-style: none;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #69A8E8;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #0a1836;
    border-radius: 8px;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.upload-section {
    text-align: center;
    margin-bottom: 20px;
}

.drop-area {
    border: 2px dashed #69A8E8;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.drop-area:hover {
    background-color: #162447;
}

.browse-btn {
    color: #69A8E8;
    font-weight: bold;
    cursor: pointer;
}

#preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#preview img {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}

.form-section {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, select, button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

button {
    background-color: #69A8E8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #517dad;
}
